


    <div class="footer">
      <div id="button"></div>
    <div id="container">
    <div id="cont">
    <div class="footer_center">
      <div id="JoelsMail">
        <a href="https://www.google.es/gmail">jrodri@elpuig.xeill.net</a>
        </div>
        <div id="AlansMail">
        <a href="https://www.google.es/gmail">alanrodriguez@elpuig.xeill.net</a>
        </div>
        <div id="footerIcons">
        <a href="https://gitlab.com/Alanegra/m12" target="_blank"><i class="fa fa-gitlab" aria-hidden="true" style="font-size:60px;"></i></a>
        <a href="https://www.youtube.com/channel/UCIyDaGjn9H40EyLHSqtVruQ" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true" style="font-size:60px;"></i></a>
        <a href="https://elpuig.xeill.net/" target="_blank"><img src="images/PT.png" style="cursor: pointer;"  width="60px" height="60px";></a>

    </div>
    </div>
    </div>
    </div>
    </div>
